<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário</title>
    <link rel="stylesheet" href="../static/assets/css/style.css">
</head>
<body>

<form id="loginForm">
    <h1>Formulário</h1>
    <label for="username">Nome de Usuário:</label>
    <input type="text" id="username" name="username" required>
    <span></span>
    <label for="password">Senha:</label>
    <input type="password" id="password" name="password" required>
    <span></span>
    <button type="submit">Enviar</button>
</form>

<script src="../static/assets/js/script.js" defer></script>

</body>
</html>
